svg {
  font: 10px sans-serif;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x text,
.axis path {
  display: none;
}

.y text {
  font-size: 18px;
}

.max {
  fill: steelblue;
}
